main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
    margin-top: 2%;
}

section {

    text-align: center;
}

/*SIZE AND PLACEMENT OF PHOTOS*/

#album {
    width: 43%;
}

    /* HYPERLINK EDIT STARTS*/
h3 {
    margin-left: 9%;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.link:visited {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.link:visited {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}