main {
    margin-left: 10%;
    margin-right: 10%;

}

a{
    text-decoration:none;
}
section {

    text-align: center;
}

/*SIZE AND PLACEMENT OF PHOTOS*/

#album {
    width: 47%;
}

    /* HYPERLINK EDIT STARTS*/
h3 {
    margin-left: 9%;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.link:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
