#map {

    position: fixed; 
    height: 76%; 
    top:0;
    }

html, body {

    height: 100%;
    margin: 0;
    padding: 0;    
}


main {
    border: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#content{
    text-align: center;
    border:hidden;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #BDD5EA;

}

#beach {
    max-width: 380px;
    padding-top: 20px;
}

#krakow {
    max-width: 380px;
    padding-top: 20px;
}

#chopok {
    max-width: 380px;
    padding-top: 20px;
}

#orkney {
    max-width: 380px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    display: inline-block;
    border: hidden;
    background-color: #BDD5EA;
    color: #000000;
    text-decoration: none;
    padding: 15px 25px;
    width: 330px;
}

.Krak{
    min-width:73%;
}

h2:hover, h2:active {
    background-color: #FE5F55;
}

header {
    background-color: #BDD5EA;
    padding-top:5px;
    margin-top:0;
}

li a:hover {
    background-color: #FE5F55;
}

#articleContent {
    text-align:center;
    border:hidden;
    background-color: #BDD5EA;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:10%;
}

#articleContent p{
    padding:20px;
    padding-bottom:30px;
}

#squad{
    margin-top:2%;
    position: relative;
    display:block;
    margin-left:auto;
    margin-right: auto;
    
}

.join1{
    text-align:center;
}

.join{
    display:inline-block;
    border:hidden;
    background-color:#FE5F55;
    color:#ffffff;
    text-decoration:none;
    padding:15px 15px;
    vertical-align: middle;
}

.join:hover, .join:active{
    background-color:red;
}


#wholeGrid{
    margin-top: 20px;
    margin-bottom:5%;
    margin-left: 17%;
}

#imageGrid {
    display:inline-block;
}

#imageGrid img {
    max-width:500px;
}

#mapImage{

max-width: 500px;


}


