body{
    height:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: #577399;
    margin:0;
}

/*HEADER*/
header {
    background-color: #BDD5EA;
    padding-top:5px;
    margin-top:0;
}
/* HORIZONTAL NAV BAR */
nav {
    width: 100%;
    list-style-type: none;
    background-color: #495867;
    text-align: center;
}

    nav > ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        nav > ul > li {
            position: relative;
            display: inline;
            
        }

            nav > ul > li a {
                display: inline-block;
                color: #ffffff;
                text-align: center;
                padding: 10px 30px;
                text-decoration: none;
            }

li a:hover {
    background-color: #FE5F55;
}
/* FIXED SIZE OF THE LOGO*/
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}

/*FOOTER*/
footer {
    position: fixed;
    left: 0;
    bottom:0;
    width:100%;
    text-align:center;
    background-color: #495867;
    color: #ffffff;
    width: 100%;
    padding:5px;
}